<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content">
        <div lkr-task task="newTask"  content-id="{{content.id}}"
             new-record on-cancel-event="onCancelNewTask()" on-insert-event="onNewTaskPost(task)">
        </div>
        <button class="btn btn-sm btn-primary" ng-click="$hide(); $parent.archiveTaskClick();">{{'OK' | translate}}</button>
        &nbsp;
        <button class="btn btn-sm btn-default" ng-click="$hide()">{{'CANCEL' | translate}}</button>
    </div>

</div>
