<div class="content-header b-b">
    <h1><i class="fa fa-search"></i> {{'SEARCH' | translate}}</h1>
</div>
<div class="content-body" ng-cloak>
    <div class="col-md-2">
        <div class='side-panel'>

        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-stream">
            <div class="" style="padding: 20px">
                <input class="form-control" ng-model='searchText' ng-enter="newSearch()">
                <br>
                <div class="panel panel-stream "
                    style='z-index:{{1000-$index}}; box-shadow:  none; border-bottom: 1px solid #ddd'
                    ng-repeat="res in results.projects track by $index" bindonce>
                    <div class="col-md-11" bindonce style="float:left">
                        <img class="thumb-sm avatar pull-left" ng-src="{{formatter.getAvatar(res.user_id)}}">
                        <div style='margin-left:50px; font-weight:400; font-size:14px'>

                            <span>{{res.full_name}}</span>
                            <br>
                            <p style="font-weight:400; margin-top:2px; font-size:12px; color:#666">
                                {{formatter.formatDateCalendarUtc(res.created_at)}} @{{res.title}}
                            </p>
                            <p style="font-size: 12px; font-style: italic; color:#666">
                                <span ng-bind-html="res.content_text"></span>
                                <div>
                                    <button class="btn btn-white btn-xxs"
                                        ng-click="zoomClick(res.id)">{{'ZOOM' | translate}}</button>&nbsp;
                                    <button class="btn btn-white btn-xxs"
                                        ng-click="gotoSpace(res.code)">{{'GO_TO_SPACE' | translate}}</button>
                                </div>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-1" bindonce>
                        <span class="pull-right" style="font-size: 18px; color:#DDD"><i
                                class="{{icons[res.class_id]}}">&nbsp;</i></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br>
                <div class="panel panel-stream "
                    style='z-index:{{1000-$index}}; box-shadow:  none; border-bottom: 1px solid #ddd'
                    ng-repeat="res in results.people track by $index" bindonce>
                    <div class="col-md-11" bindonce style="float:left">
                        <img class="thumb-sm avatar pull-left" ng-src="{{formatter.getAvatar(res.id)}}">
                        <div style='margin-left:50px; font-weight:400; font-size:14px'>

                            <a href="#/userprofile/{{res.id}}">{{res.full_name}}</a>
                            <br>
                            <p style="font-weight:400; margin-top:2px; font-size:12px; color:#666">
                                {{res.email}}
                            </p>
                        </div>
                    </div>

                    <div class="col-md-1" bindonce>
                        <span class="pull-right" style="font-size: 18px; color:#DDD"><i
                                class="{{icons[res.class_id]}}">&nbsp;</i></span>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>

</div>